@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>


<div class="text-center m-t-50">

    <a class="btn btn-danger" asp-action="Login" asp-controller="Account" asp-area="">Login</a>
    <a class="btn btn-danger" asp-action="Register" asp-controller="Account" asp-area="">Register</a>
    <a class="btn btn-danger" asp-action="Privacy" asp-controller="Home" asp-area="">Privacy</a>
</div>
