@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<div class="text-center m-t-50">

    <a class="btn btn-danger" asp-action="LogOff" asp-controller="Account" asp-area="">Logut</a>
</div>
